* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#background {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

#main {
  position: absolute;
  height: 60%;
  width: 30%;
  color: white;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  padding: 25px;
  left: 35%;
  top: 20%;
  z-index: 1;
}

#main h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#main p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 25px;
}

#main button{
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

#ratings{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rating{
    background-color: hsl(217, 12%, 63%);
    width: 80%;
    height: 40%;
    border-radius: 50%;
    text-align: center;
}

#thankyou {
  position: absolute;
  height: 60%;
  width: 30%;
  color: white;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  padding: 20px;
  left: 35%;
  top: 20%;
  text-align: center;
  z-index: 0;
}

#thankyou img{
    margin: 20px;
}

#thankyou h1{
    font-size: 25px;
    padding: 10px;

}

#thankyou p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
